<%- include("_header") -%>

  <div class="col-md-4 mt-5 bg-light rounded" style="margin-top: 3%; margin-left: 25%; max-width: 800px;">
    <h5 class="text-left font-weight-bold" style="padding-top: 10px;">Editar Estratégia</h5>
    <hr class="bg-light">
    <h5 class="text-center text-success"></h5>
    <form action="/createEstrategia" method="post" id="form-box" class="p-2 form-horizontal">

      <%- include("_editorEstrategia") -%>

      <div class="form-group" style="text-align: left;">
        <input type="submit" value="Salvar" class="btn btn-success btn-primary" />
        <a class="btn btn-outline-dark cancel" href="/Estrategia">Cancelar</a>
      </div>
    </form>
</div>

  <%- include("_footer") -%>